@import './pico.min.css';

html,
body {
    font-size: 21px;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.text-capitalize {
    text-transform: capitalize;
}

.d-flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}
