@import './pico.min.css';

[data-theme='light'],
:root:not([data-theme='dark']) {
    --primary: #3949ab;
    --primary-hover: #303f9f;
    --primary-focus: rgba(57, 73, 171, 0.125);
    --primary-inverse: #fff;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #3949ab;
        --primary-hover: #3f51b5;
        --primary-focus: rgba(57, 73, 171, 0.25);
        --primary-inverse: #fff;
    }
}

html,
body {
    font-size: 21px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.text-capitalize {
    text-transform: capitalize;
}

.d-flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.text-center {
    text-align: center;
}
